* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'IBM', sans-serif;
  font-style: normal;
}

.bottom-input {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 20px;
  position: absolute;
  bottom: calc(60px + 25px);
  padding-top: 20px;
  border-top: 1px solid #74767c;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.remove-task {
  cursor: pointer;
  color: #5039d4;
  font-weight: bold;
  text-decoration: underline;
}
