* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'IBM', sans-serif;
  font-style: normal;
}

.bottom-input {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 20px;
  position: absolute;
  bottom: 60px;
  padding-top: 20px;
  border-top: 1px solid #74767c;
  height: 175px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

.remove-task {
  cursor: pointer;
  color: #5039d4;
  font-weight: bold;
  text-decoration: underline;
}

.container-tasks {
  width: 400px;
  height: 510px;
  padding: 0 20px;
  overflow: scroll;
  scrollbar-width: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.snackbar-animation {
  animation: fadeIn 0.5s;
  position: absolute;
  bottom: 5px;
  align-self: center;
}
